.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.cell {
    padding: 5px 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

.header {
    font-weight: bold;
}
.grey {
	color: grey;
}

.border-rl{
	border: 1px solid #ddd;
	border-width: 0 1px 0 1px;
}
.border-tb{
	border: 1px solid #ddd;
	border-width: 1px 0 1px 0;
}

